body{
	background-color: darkgrey;

}



.card-body {
    
    padding: 0.5rem;
   

}


.card {
    
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(0,0,0,.125);
    border-radius: 0;

}

.cardSet1{
	background-color: #669999;
}


.cardSet2{
	background-color: #cc6666;
}



.cardSet3{
	background-color: #cc9966;
}

h3.card-title{
	font-size: 1.5rem;


}

h5.card-subtitle{
	font-size: 1rem;
	padding-bottom: 1.2rem;
}


h6.card-subtitle{
	font-size: 1rem;
	padding-bottom: 1.2rem;


}

p.card-text{
	padding-bottom: 0.8rem;
	line-height: 1.2rem;
}

.img-thumbnail{
	height: 490px;
}
.mybutton{
	border-style: none;
	background-color: #669999;
	color: red;
	
}
